html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    background-color: #181818;
}

div.right {
    min-width: 50%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

div.left {
    min-width: 50%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

input {
    width: 500px;
    max-width: 500px;
    font: 18px Arial;
}

#urlInput {
    position: relative;
    text-align: left;
    margin-top: 32px;
    width: 50%;
    z-index: 1;
}

#submit {
    position: relative;
    font: 18px Arial;
    z-index: 1;
}

iframe {
    width: 100%;
    max-width: 560px;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}


div.videoFrame {
    width: 100%;
    max-width: 560px;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    pointer-events: none;
    text-align: center;
}

canvas {
    height: 100%;
    width: 100%;
    position: absolute;
}

#one {
    background-color: white;
    opacity: 1;
    z-index: -2;
}

#two {
    background-color: white;
    opacity: 1;
    z-index: -1;
}

#button {
    font: 64px Arial;
    display: block;
    border: 4px solid black;
    border-radius: 16px;
    padding: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

button:active {
    background-color: lightgrey;
    border-color: darkgrey;
}

label {
    font: 64px Arial;
    display: block;
    text-align: center;
}